{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}}
 
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.732"}
                               lambdaisland/kaocha-cljs {:mvn/version "0.0-71"}}}
           :pack {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                :sha "e518d9b2b70f4292c9988d2792b8667d88a6f4df"}}
                  :main-opts ["-m" "mach.pack.alpha.skinny" "--no-libs"
                              "--project-path" "monnit.jar"]}
           :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
                    :exec-fn deps-deploy.deps-deploy/deploy
                    :exec-args {:installer :remote
                                :sign-releases? true
                                :artifact "monnit.jar"}}}}

